.container {
  display: flex; 
  align-items: center; 
  justify-content: center;

  max-width: 1120px; 
  margin: 0 auto; 
  
  height: 100vh;
}

.board {
  display: flex;  
}

.piece {
  display: block;
  width: 80px;
  height: 80px;
  color: red
}